@using Blazor.ViewModels

@if(ViewModel.GetData().Count > 0)
{
    @foreach(var dragItem in ViewModel.GetData().Cast<ListViewItemModel>())
    {
        <div draggable="true" ondragstart="@(e => dragItem.OnItemDragStart(e, dragItem))" ondrag="@(e => dragItem.OnItemDrag(e, dragItem))" ondragend="@(e => dragItem.OnItemDragEnd(e, dragItem))">
            <span class="listviewinner"><img class="selector" src='@dragItem.GetProperty("src").GetPropertyValueString()' alt='expand'><span>@dragItem.GetProperty("Name").GetPropertyValueString()</span></span><br>
        </div>
    }
}

@functions{    
    [Parameter] Blazor.ViewModels.ListViewViewModel ViewModel {get;set;} 
}