@using Blazor.ViewModels
@(IDrag<ListViewItemModel> dragItem)

@if(ViewModel.GetData().Count > 0)
{
    @foreach(var data in ViewModel.GetData())
    {
        @(dragItem = data as IDrag<ListViewItemModel>)
        <div draggable="true" ondragstart="@(e => dragItem.OnItemDragStart(e, dragItem))" ondrag="@(e => dragItem.OnItemDrag(e, dragItem))" ondragend="@(e => dataItem.OnItemDragEnd(e, dragItem))">
            <span class="listviewinner"><img class="selector" src='@data.GetProperty("src").GetPropertyValueString()' alt='expand'><span>@data.GetProperty("Name").GetPropertyValueString()</span></span><br>
        </div>
    }
}

@functions{    
    [Parameter] Blazor.ViewModels.ListViewViewModel ViewModel {get;set;} 
}